#sbtc_div, #cg_div {
	overflow-x:hidden;
	overflow-y:auto;
	height:672px;
	max-height:672px;
}
#chat_div {
	height:541px;
	max-height:541px;
}
.fas_nobuddy {
	font-size:70px;
	display:block;
	margin-top:150px;
	text-align:center;
}
.fas_msg {
	font-size:19px;
	padding-top:15px;
	padding-bottom:11px;
	margin-left:6px;
}
.msg {
	font-size:20px;
}
.msg_cntr {
	margin-top:12px;
	padding-bottom:2px;
	font-family:'Open Sans',serif;
}
#scf {
	padding-top:5px;
}
#search_chat::placeholder {
	text-align:center;
	opacity:1;
	font-family:'Open Sans',serif;
	font-size:15px;
}
#search_chat:invalid,#search_chat:-moz-ui-invalid {
	border:none;
	border:1px solid #DCDCDC;
	outline:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#search_chat:focus {
	outline:none;
    border-color:#9ecaed;
    -moz-box-shadow:0 0 10px #9ecaed;
    -webkit-box-shadow:0 0 10px #9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
.inner_msg {
	font-size:18px;
}
.inner_msg1 {
	font-size:18px;
	margin-top:10px;
}
a.bd_row {
	text-decoration:none;
}
.bd_row {
	padding:7px;
	border-bottom:1px solid lavender;
	cursor: pointer;
}
.bd_img {
	width:50px;
	height:50px;
	object-fit:cover;
}
.bd_img_ {
	width:65px;
	height:65px;
	object-fit:cover;
}
.bd_un,#bd_un {
	font-size:18px;
	padding-top:11px;
	padding-bottom:11px;
	margin-left:6px;
}
#bd_un {
	font-size:19px;
	text-decoration:none;
	position:relative;
	top:-10px;
}
#bd_lt {
	font-size:16px;
	position:absolute;
	top:38px;
	left:95px;
}
.cdr_hdr_btns {
	float:right;
	margin-top: 15px;
}
#attach_btn, #emoji_btn {
	font-size: 20px;
}
#attach_btn {
	margin-right: 3px;
	color: #2F4F4F;
}
#attach_file_form,#close_atf {
	display: none;
}
#close_atf {
	float: right;
}
#attach_send {
	margin-left: 5px;
}
.popover {
	background-color: lavender;
}
#chats_area {
	padding: 10px;
	height: 530px;
	overflow-x:hidden;
	overflow-y:scroll;
}
#chat_div_row {
	padding: 7px;
	border-bottom:2px solid lavender;
}
#chat_div_row,#chats_area {
	border-left:2px solid #DCDCDC;
	border-right:2px solid #DCDCDC;
}
#new_msg_cont {
	height:60px;
	font-size:15px;
	border-top:2px solid #A9A9A9;
	background-color: #dcdcdc;
	resize: none;
	max-height: 150px;
	position: fixed;
	overflow: hidden;
	left: -15px;
}
#new_msg_cont::-ms-input-placeholder {
    font-size:17px;
	font-weight: bold;
	font-family: 'Open Sans', serif;
}
#new_msg_cont::placeholder {
	font-size:17px;
	font-weight: bold;
	font-family: 'Open Sans', serif;
}
#new_msg_cont:invalid,#new_msg_cont:-moz-ui-invalid {
	border-top:2px solid #a9a9a9;
	border-left: 0 solid white;
	border-right: 0 solid white;
}
#new_msg_cont:focus {
	outline:none;
    border-color:#9ecaed;
    -moz-box-shadow:0 0 10px #9ecaed;
    -webkit-box-shadow:0 0 10px #9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
.seen {
	cursor:pointer;
}
.conv_arrow {
	position:absolute;
}
.fa-caret-left {
	top:4px;
	left:7px;
	color:#00FFFF;
	font-size:27px;
}
.fa-caret-right {
	top:4px;
	right:7px;
	color:#66ff66;
	font-size:27px;
}
.user_msgs {
	background-color:#66ff66;
	border-radius: 5px;
	float:right;
	text-align:right;
	padding: 4px;
	word-wrap: break-word;
}
.op_msgs {
	background-color:#00FFFF;
	border-radius: 5px;
	padding: 4px;
	float:left;
	text-align:left;
	word-wrap: break-word;
}
.reply_to_square {
	border-radius:8px;
	cursor:pointer;
	border: 2px solid #dcdcdc;
	padding: 4px;
	color: #808080;
}
.reply_to_square:hover {
	background-color: #dcdcdc;
}
#message_received,#message_sent {
	display:none;
}
.row_spc {
	margin-bottom:7px;
}
.msg_time {
	font-size:13px;
}
.emojis {
	font-size: 20px;
	cursor: pointer;
}
.emoji_carousel_slide_to {
	background-color: #dcdcdc;
	padding: 5px;
	font-size: 20px;
	margin-right: 5px;
	border-radius: 25%;
}
a.emoji_carousel_slide_to,a.emojis,a.attachment_download_link {
	text-decoration: none;
}
.attachment_download_link {
    margin-top: 5px;
}
.attachment_download_icon {
	font-size: 24px;
}
#attaching_file_spnr {
    display: none;
    width: 30px;
    height: 30px;
}
a.chat_link_share {
    text-decoration: none;
}
.sent_img {
	object-fit: cover;
	max-width: 270px;
	max-height: 290px;
	min-width: 200px;
	min-height: 200px;
}
#chat_loader {
	display: none;
}
#goto_new_msg {
	position: absolute;
	top: 540px;
	left: 670px;
	z-index: 100;
	font-size: 20px;
	display: none;
}
.grp_checkboxes {
	display: none;
}
#selected_participants_div {
	font-size: 16px;
	border-top: 1px solid lavender;
	border-bottom: 1px solid lavender;
	margin-bottom: 10px;
	padding: 10px;
}
#create_grp_btn {
	float: right;
	position: relative;
	top: -2px;
}
#grp_tobemade_name {
	border: none;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
	height: 30px;
	display: none;
}
#grp_tobemade_name::placeholder {
	font-weight: bold;
	text-align: center;
}
#grp_tobemade_name:focus::placeholder {
	text-align: left;
}
#grp_tobemade_pic {
	display: none;
}
#grp_tobemade_picbtn {
	margin-bottom: 6px;
	display: none;
}