body {
	background:radial-gradient(#DCDCDC,white);
}
#chng_psw_card {
	margin-left:200px;
	margin-top:10px;
	margin-right:200px;
	margin-bottom:10px;
}
#chng_header {
	font-size:30px;
	font-family:'Merienda',serif;
}
#user_name {
	font-size:22px;
}
#chng_msg {
	font-size:20px;
}
#chng_password_form {
	margin-top:20px;
	margin-bottom:20px;
}
.labels {
	padding:2px;
}
.error {
	color:red;
	margin-left:5px;
}
.err {
	margin-top:5px;
	font-size:25px;
	position:relative;
	left:0px;
}
#chng_psw_btn {
	margin-top:10px;
}
#chng_success {
	font-size:27px;
}
.chng_failure {
	font-size:27px;
}
@media only screen and (max-width:768px) {
	#chng_psw_card {
		margin-left:5px;
		margin-right:5px;
		margin-top:0px;
	}
	#chng_header {
		font-size:25px;
	}
	#user_name {
		font-size:20px;
	}
	#chng_msg {
		font-size:16px;
	}
	#chng_password_form {
		margin-top:15px;
		margin-bottom:15px;
	}
	.inputs {
		height:30px;
	}
	.labels {
		padding:0px;
	}
	#chng_psw_btn {
		width:180px;
		height:35px;
		margin-top:10px;
	}
	.err {
		font-size:23px;
		margin-top:3px;
	}
	#chng_success {
		font-size:21px;
	}
	.chng_failure {
		font-size:21px;
	}
}
@media only screen and (min-width:768px) and (max-width:1020px) {
	#chng_psw_card {
		margin-left:10px;
		margin-right:10px;
		margin-top:0px;
	}
	#user_name {
		font-size:20px;
	}
	#chng_msg {
		font-size:20px;
	}
	#chng_psw_btn {
		width:180px;
		height:35px;
		margin-top:8px; 
	}
	#chng_success {
		font-size:25px;
	}
	.chng_failure {
		font-size:25px;
	}
}