body {
    font-family: 'Open Sans', serif;
    background-color: lavender;
}
a.post_un,a.text-dark,a.cmnt_un,a.sacb,#pic_alert_fadeout,a.who_row_un {
	text-decoration:none;
}
#edit_profile_msg {
	margin-right:10px;
}
#edit_profile_label {
	background-color:#060606;
	padding:6px; 
}
#search {
	position:relative;
}
#edit_link {
	text-decoration:none;
	color:white;
}
.theme_img {
	max-width:300px;
	height:200px;
}
.row {
	margin-left:0;
}
#pic_form_alert {
    display: none;
}
#pic_alert_fadeout {
    font-size:22px;
    float: right;
}
#upl_form {
	padding: 10px;
}
#pic {
    margin-bottom: 8px;
}
#pic_caption {
    max-width: 800px;
    max-height: 300px;
    height:100px;
    min-height: 70px;
    margin:0 auto;
}
#pic_caption::placeholder {
    text-align:center;
    font-weight: bold;
}
#pic_caption:focus::placeholder {
    text-align:left;
}
#pic_submit_btn {
    margin-top:10px;
}
.error {
	color:red;
}
#ui_ml {
	display:none;
}
#posts_area {
	margin-left:445px;
	padding:0 20px 20px 20px;
	width:630px;
	margin-top: 8px;
}
.enclose_post {
	padding:10px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:2px;
	margin-bottom:30px;
	background-color: white;
}
.post_bud {
	width:40px;
	height:40px;
	object-fit:cover;
}
.post_un {
	font-size:16px;
	padding:5px;
	text-decoration:none;
}
.dat {
	font-size:19px;
	margin-top:2px;
	cursor:context-menu;
}
.post_mat {
	font-size:16px;
	word-wrap: break-word;
}
.post_img {
	width:100%;
	object-fit:cover;
	margin-top:5px;
	max-height: 550px;
}
.btn-basics {
	border: 1px solid #dc143c;
	padding: 7px;
	background-color: white;
}
.btn-basic-texts {
    font-size: 18px;
}
.lkcmd {
	padding:5px;
}
.nolnoc {
	margin-top:3px;
	border-top:1px solid #DCDCDC;
	padding-top:4px;
	padding-right:4px;
	padding-left:4px;
	font-size:15px;
}
.sacb {
	margin-top:3px;
	margin-left:4px;
	font-size:15px;
}
.cf {
	padding-top:4px;
	padding-bottom:4px;
	padding-right:4px;
}
.comm_pic {
	width:35px;
	height:35px;
	object-fit:cover;
	margin-left:8px;
	margin-top:6px;
}
.comment {
	height:30px;
	font-size:15px;
	margin-left:4px;
	margin-top:8px;
	border:none;
	background:none;
	border-bottom:1px solid #A9A9A9;
}
.comment::placeholder {
	color:#696969;
  	font-size:15px;
  	opacity:1;
  	text-align:center;
}
.comment:focus::placeholder {
	text-align:left;
}
.comment:invalid,.comment:-moz-ui-invalid {
	border:none;
	border-bottom:1px solid #A9A9A9;
	outline:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.pacb {
	height:32px;
	margin-top:5px;
	margin-left:3px;
}
.spnr {
	display:none;
	width:45px;
	height:45px;
}
.cmnt_un {
	margin-left:5px;
	margin-top:10px;
}
.comm_show {
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	word-wrap: break-word;
}
.time_show {
	font-size:12px;
	padding:5px;
	margin-top:9px;
}
.dlt_link {
	font-size:12px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:9px;
}
.post_tym {
	font-size:12px;
	padding-top:10px;
}
#picmsg {
	font-size:20px;
	display:none;
	padding:10px;
	margin-bottom:15px;
}
#ui {
	margin-top:8px;
	margin-left:160px;
	position: fixed;
	width: 290px;
	max-width: 290px;
}
#user_info {
    border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:2px;
	background-color: white;
	margin-bottom: 12px;
}
#suggestions_for_you {
    background-color: white;
    max-height: 300px;
    overflow-x: hidden;
    border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:2px;
}
#just_some_padding {
    height: 100px;
    border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:2px;
}
.uibp {
	width:80px;
	height:80px;
	position: relative;
	top: -35px;
	object-fit:cover;
	border: 3px solid white;
}
#uifn {
	padding:4px;
	position: relative;
	top: -35px;
	font-size:18px;
	text-decoration:none;
}
#uiun {
	padding:3px;
	position: relative;
	top: -39px;
	font-size:16px;
}
#user_info_row {
    position: relative;
    top: -23px;
    font-size: 15px;
    left: -8px;
}
#user_info_posts, #user_info_buddies {
    font-size: 17px;
}
.uibtns {
	font-size:14px;
}
#ui_edbtn {
	position: relative;
	top: -33px;
}
.clearBoth {
	clear:both;
}
.msg {
	font-size:19px;
}
.page_symbol {
	float:right;
	font-size:14px;
	padding:8px;
}
a.ucmnt_btn {
	text-decoration:none;
}
.ucmnt_btn {
	font-size:15px;
	padding-left:3px;
}
#right_cards {
	margin-top:8px;
	position: sticky;
	margin-left: 1070px;
	width: 290px;
	background-color: white;
}
#whos_online {
    border:1px solid #A9A9A9;
    border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:2px;
	max-height: 350px;
	width: 285px;
	max-width: 285px;
	overflow-x: hidden;
}
.who_row {
    padding: 5px 25px 5px 10px;
    border-bottom: 1px solid lavender;
}
.who_row_bp {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.who_row_un {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
}
.online_green_symbol {
    font-size: 8px;
    margin-top: 12px;
}
.ui_bottom_links {
    font-size: 13px;
}
#ui_bottom_links {
    margin-top: 10px;
}
a.ui_bottom_links {
    text-decoration: none;
}
#share_your_moment {
    margin-bottom: 10px;
    padding: 6px;
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#theme_colors_eicon {
    float: right; 
    font-size: 18px; 
    padding: 7px;
    cursor: pointer;
}
#theme_box_palette {
    padding: 12px;
    border: 2px solid #696969;
    z-index: 100;
}
.dropdown-toggle::after {
    display:none;
}
.theme_box_pc {
    margin: 10px;
    cursor: pointer;
    border: 1px solid #696969;
    padding: 0 12px 0 12px;
    border-radius: 4px;
}
#theme_box_pc_darkviolet {
    background-color: #9400D3;
}
#theme_box_pc_red {
    background-color: #FF0000;
}
#theme_box_pc_teal {
    background-color: #008080;
}
#theme_box_pc_gold {
    background-color: #FFD700;
}
#theme_box_pc_springgreen {
    background-color: #00FF7F;
}
#theme_box_pc_rebeccapurple {
    background-color: #663399;
}
#theme_box_pc_tomatored {
    background-color: #FF6347;
}
#theme_box_pc_purple {
    background-color: #800080;
}
#theme_box_pc_fuchsia {
    background-color: #FF00FF;
}
#theme_box_pc_deepskyblue {
    background-color: #00BFFF;
}
#theme_box_pc_royalblue {
    background-color: #4169E1;
}
#theme_box_pc_green {
    background-color: #008000;
}
#theme_box_pc_deeppurple {
    background-color: #FF1493;
}
#theme_box_pc_darkslateblue {
    background-color: #483D8B;
}
#theme_box_pc_orange {
    background-color: #FF4500;
}
@media only screen and (max-width:768px) {
    #share_your_moment {
        display: none;
    }
	#ui_ml, #right_cards {
		display:none;
	}
	#edit_profile_msg {
		font-size:15px;
	}
	.post_success {
		font-size:21px;
	}
	.post_failure {
		font-size:21px;
	}
	#posts_area {
		margin-left:0;
		margin-right:0;
		padding:0;
		margin-top: 0;
		position:relative;
		top:1px;
	}
	.enclose_post {
	    padding: 10px 5px 10px 5px;
		margin-bottom:15px;
	}
	.comm_pic {
		margin-left:0;
		margin-top:3px;
		width:30px;
		height:30px;
	}
	.comment {
		margin-top:3px;
	}
	.comment::placeholder {
		font-size:14px;
		text-align:left;
	}
	.btn-basics {
	    padding: 5px;
	}
	.btn-basic-texts {
	    font-size:17px;
	}
	.pacb {
		margin-top:2px;
	}
	.cmnt_un {
		font-size:15px;
		margin-top:6px;
	}
	.comm_show {
		margin-right:5px;
		font-size:14px;
		margin-top:7px;
	}
	.time_show {
		padding:3px;
		margin-top:7px;
	}
	.dlt_link {
		margin-top:4px;
	}
	.post_tym {
		padding-top:5px;
	}
	#ui {
		display:none;
	}
	#pic_form_alert {
        display: none;
        padding: 7px 0 7px 0;
    }
    #pic_alert_fadeout {
        font-size:22px;
        float: right;
    }
    #upl_form {
	    padding: 0;
    }
    #pic {
        margin-bottom: 8px;
    }
    #pic_caption {
        max-width: 800px;
        max-height: 300px;
        height:100px;
        min-height: 70px;
        margin: 0 0;
    }
    #pic_caption::placeholder {
        text-align:center;
        font-weight: bold;
    }
    #pic_caption:focus::placeholder {
        text-align:left;
    }
    #pic_submit_btn {
        margin-top:10px;
    }
}
@media only screen and (min-width:768px) and (max-width:1100px) {
    #share_your_moment {
        display: none;
    }
	#ui_ml,#ui {
		display:none;
	}
	.post_mat {
		font-size:17px;
	}
	.btn-basics {
		font-size:17px;
	}
	.nolnoc {
		font-size:16px;
	}
	.sacb {
		font-size:16px;
	}
	.comment {
		font-size:16px;
	}
	.cmnt_un {
		font-size:16px;
	}
	.comm_pic {
		width:40px;
		height:40px;
		margin-top:3px;
	}
	.post_bud {
		width:55px;
		height:55px;
		object-fit:cover;
	}
	.post_un {
		font-size:18px;
	}
	#posts_area {
	    margin-top: 0;
		margin-left:0;
		margin-right:0;
		padding:10px;
		top:-5px;
	}
	.post_success {
		font-size:25px;
	}
	.post_failure {
		font-size:25px;
	}
	.comm_show {
		margin-top:11px;
	}
	.time_show {
		font-size:14px;
		margin-top:6px;
	}
	.dlt_link {
		font-size:13px;
		margin-top:8px;
	}
	.msg {
		font-size:17px;
	}
	#pic_form_alert {
    display: none;
}
#pic_alert_fadeout {
    font-size:22px;
    float: right;
}
#upl_form {
	padding: 10px;
}
#pic {
    margin-bottom: 8px;
}
#pic_caption {
    max-width: 800px;
    max-height: 300px;
    height:100px;
    min-height: 70px;
    margin:0 auto;
}
#pic_caption::placeholder {
    text-align:center;
    font-weight: bold;
}
#pic_caption:focus::placeholder {
    text-align:left;
}
#pic_submit_btn {
    margin-top:10px;
}
}
@media only screen and (min-width:1000px) and (max-width:1100px) {
	#posts_area {
		position:relative;
		top:-45px;
	}
	#rb {
		top:70px;
	}
	.time_show {
		margin-top:8px;
	}
	#ui {
		display:none;
	}
	#ui_ml {
		padding:10px;
		display:block;
	}
	.uibp_ml {
		width:90px;
		height:90px;
		object-fit:cover;
	}
	#uifn_ml {
		padding-left:6px;
		padding-right:6px;
		text-decoration:none;
		font-size:22px;
		position:relative;
		top:-10px;
	}
	#uiun_ml {
		padding-left:5px;
		padding-right:5px;
		font-size:20px;
		position:relative;
		top:-47px;
		left:95px;
	}
	.uibtns_ml {
		font-size:15px;
	}
	#ui_edbtn_ml {
		position:relative;
		left:755px;
		top:-85px;
	}
	#ui_cbpbtn_ml {
		position:relative;
		top:-47px;
		left:523px;
	}
	#pic_form_alert {
        display: none;
    }
    #pic_alert_fadeout {
        font-size:22px;
        float: right;
    }
    #upl_form {
	    padding: 10px;
    }
    #pic {
        margin-bottom: 8px;
    }
    #pic_caption {
        max-width: 800px;
        max-height: 300px;
        height:100px;
        min-height: 70px;
        margin:0 auto;
    }
    #pic_caption::placeholder {
        text-align:center;
        font-weight: bold;
    }
    #pic_caption:focus::placeholder {
        text-align:left;
    }
    #pic_submit_btn {
        margin-top:10px;
    }
}