#chat_div_row { 
	padding: 6px;
	border-bottom: 1px solid lavender;
}
.bd_img { 
	width:40px;
	height:40px;
	object-fit:cover;	
}
#bd_un {
	font-size:16px;
	margin-left:6px;
	position: relative;
	text-decoration: none;
	top: -7px;
	font-family:'Open Sans', serif;
}
#bd_lt {
	font-size:14px;
	position: absolute;
	margin-top: 18px;
    left: 50px;
    font-family:'Open Sans', serif;
}
.cdr_hdr_btns {
	float:right;
	margin-top: 1px;
}
#attach_btn, #emoji_btn {
	font-size: 20px;
}
#attach_btn {
	margin-right: 3px;
	color: #2F4F4F;
}
#attach_file_form,#close_atf {
	display: none;
}
#close_atf {
	float: right;
}
#attach_send {
	margin-left: 5px;
}
.popover {
	background-color: lavender;
}
#chats_area {
	padding: 8px 8px 4px 8px;
	overflow-x:hidden;
	overflow-y:scroll;
}
#new_msg_cont {
	height: 50px;
	font-size: 15px;
	border:2px solid #A9A9A9;
	resize: none;
	border-radius: 25px;
	max-height: 150px;
}
#new_msg_cont::placeholder {
	font-weight:bold; 
	font-family: 'Open Sans', serif;
}
#new_msg_cont:invalid,#new_msg_cont:-moz-ui-invalid {
	border-top:2px solid #A9A9A9;
	border-left: 0;
	border-right: 0;
}
#new_msg_cont:focus {
	outline:none;
    border-color:#9ecaed;
    -moz-box-shadow:0 0 10px #9ecaed;
    -webkit-box-shadow:0 0 10px #9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
.seen {
	cursor:pointer;
}
.conv_arrow {
	position:absolute;
}
.fa-caret-left {
	top:4px;
	left:7px;
	color:#00FFFF;
	font-size:27px;
}
.fa-caret-right {
	top:4px;
	right:7px;
	color:#66ff66;
	font-size:27px;
}
.user_msgs {
	background-color:#66ff66;
	border-radius:5px;
	float:right;
	text-align:right;
	padding:6px;
}
.op_msgs {
	background-color:#00FFFF;
	border-radius:5px;
	padding:6px;
	float:left;
	text-align:left;
}
.row_spc {
	margin-bottom:7px;
}
.user_msgs,.op_msgs {
	font-size:14px;
}
.msg_time {
	font-size:12px;
}
#msg_send_btn_img {
	width: 20px;
	height: 20px;
}
.emojis {
	font-size: 18px;
    padding: 2px;
}
.emoji_carousel_slide_to {
	background-color: #dcdcdc;
	padding: 5px;
	font-size: 20px;
	margin-right: 5px;
	border-radius: 25%;
}
a.emoji_carousel_slide_to,a.emojis,a.attachment_download_link {
	text-decoration: none;
}
.attachment_download_link {
    margin-top: 5px;
}
.attachment_download_icon {
	font-size: 22px;
}
#attaching_file_spnr {
    display: none;
    width: 26px;
    height: 26px;
}
#attachment {
    border: 0;
    outline: none;
}
#chat_bottom_navbar {
    padding: 0;
    padding-top: 3px;
    margin: 0;
    background-color: #dcdcdc;
}
#send_msg_btn {
    border-radius: 10px;
    margin-left: 3px;
}
#send_msg_btn_img {
    width: 34px;
    height: 34px;
}
a.chat_link_share {
    text-decoration: none;
}
.sent_img {
	object-fit: cover;
	max-width: 180px;
	max-height: 200px;
	min-width: 100px;
	min-height: 120px;
}
#chat_loader {
	display: none;
}
#goto_new_msg {
	position: absolute;
	top: 540px;
	left: 670px;
	z-index: 100;
	font-size: 20px;
	display: none;
}
@media only screen and (min-width:768px) and (max-width:1020px) {
	#chat_div_row {
		padding: 10px;
	}
}
@media only screen and (min-width:200px) and (max-width:330px) {
    #new_msg_cont {
	    height: 45px;
	    font-size: 14px;
    	border-radius: 20px;
    	max-height: 135px;
    }
    #send_msg_btn_img {
        width: 31px;
        height: 31px;
    }
}