#search {
    position: relative;
    left: -6px;
}
/* The Modal (background) */
.modal {
    display:inline; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index:1; /* Sit on top */
    padding-top:50px; /* Location of the box */
    padding-left:10px;
    padding-right:10px;
    width:100%; /* Full width */
    height:100%;
    background-color:rgb(0,0,0); /* Fallback color */
    background-color:rgba(0,0,0,0.8); /* Black w/ opacity */
    overflow-y:scroll;
    overflow-x:hidden;
    margin-top:50px;
    margin-bottom:20px;
}
#modal_row {
	background:radial-gradient(white,#DCDCDC);
	margin-left:100px;
	margin-right:100px;
}
#modal_content_col {
	padding:15px;
	border-right:2px solid lavender;
}
#modal_details_col {
	padding:10px;
}
/* Modal Content (image) */
.modal-content {
    display:block;
    max-width:500px;
    margin:auto;
    object-fit:contain;
}
/* Add Animation */
.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    -moz-animation-name: zoom;
    -moz-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
#uplbp {
	width:45px;
	height:45px;
	object-fit:cover;
}
#uplun {
	font-size:18px;
	text-decoration:none;
	margin-left:4px;
}
#user_tooltip {
	float:right;
	margin-top:5px;
}
.post_mat {
	font-size:17px;
	margin-left:3px;
	word-wrap: break-word;
}
.btn-outline-danger {
	border:1px solid #dc143c;
	padding: 7px;
	margin-top: 3px;
}
.btn-texts {
    font-size:18px;
}
#dlt_post_btn {
	float:right;
}
#nol {
	font-size:16px;
	padding:6px;
	padding-bottom:4px;
}
#nol a,a.text-dark {
	text-decoration:none;
}
#sacb {
	padding-left:6px;
	padding-bottom:6px;
	font-size:15px;
	text-decoration:none;
}
#cmnt_row {
	margin-left:0;
}
.cmnt_disp {
	width:35px;
	height:35px;
	object-fit:cover;
}
#cmnt_box {
	margin-left:7px;
	border:none;
	border-bottom:1px solid #A9A9A9;
	background:none;
	height:30px;
	font-size:15px;
	margin-top:3px;
}
#cmnt_box::placeholder {
	text-align:center;
  	opacity:1;
	color:#696969;
  	font-size:15px;
}
#cmnt_box:focus::placeholder {
	text-align:left;
}
#cmnt_box:invalid,#cmnt_box:-moz-ui-invalid {
	border:none;
	border-bottom:1px solid #A9A9A9;
	outline:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#pycb {
	height:32px;
	margin-top:0;
}
#cmnt_spnr {
	display:none;
}
#cmnt_spnr_img {
	width:50px;
	height:50px;
}
#cmnts_sec {
	padding-top:5px;
	padding-bottom:5px;
}
.cmnt_row {
	margin-left:0;
}
.cmnt_un {
	margin-top:4px;
	margin-left:5px;
	font-size:15px;
}
a.cmnt_un {
	text-decoration:none;
}
.cmnt_cont {
	margin-left:10px;
	margin-right:10px;
	margin-top:4px;
	word-wrap: break-word;
}
.cmnt_time {
	font-size:12px;
	padding:4px;
	margin-top:4px;
}
.dlt_link {
	margin-top:7px;
	font-size:12px;
}
#post_dtls {
	font-size:12px;
	margin-top:4px;
}
#post_time {
	font-size:12px;
	float:right;
}
.msg {
	font-size:20px;
	padding:10px;
}
@media only screen and (max-width:768px) {
	.modal {
		padding-right:0;
		padding-left:0;
	}
	.modal-content {
		width:100%;
		max-height:400px;
		padding:8px;
	}
	#modal_row {
		margin-left:0;
		margin-right:0;
		padding-bottom:20px;
	}
	#modal_content_col {
		padding:4px;
		border-right:0;
		border-bottom:1px solid lavender;
	}
	#modal_details_col {
		padding:6px;
	}
	#uplbp {
		width:38px;
		height:38px;
		object-fit:cover;
	}
	#uplun {
		font-size:16px;
		margin-top:1px;
	}
	.post_mat {
		font-size:15px;
	}
	.btn-outline-danger {
	    padding: 4px;
	}
	.btn-texts {
		font-size:16px;
	}
	#nol {
		font-size:15px;
		padding:4px;
	}
	#sacb {
		margin-bottom:4px;
	}
	.cmnt_disp {
		width:32px;
		height:32px;
		object-fit:cover;
	}
	.cmnt_time {
		margin-top:3px;
	}
	.msg {
		font-size:17px;
		padding:5px;
	}
}
@media only screen and (min-width:768px) and (max-width:1000px) {
	#modal_row {
		margin-left:20px;
		margin-right:20px;
		padding-bottom:20px;
	}
	#modal_content_col {
		padding:7px;
	}
}
@media only screen and (min-width:1000px) and (max-width:1100px) {
	#modal_row {
		margin-left:0px;
		margin-right:0px;
		padding-bottom:20px;
	}
}