body {
	font-family:'Roboto',serif;
}
#navbar_brand {
	font-size:22px;
	padding:10px;
}
.navbar-toggler-icon {
	font-size:16px;
}
#sc_nav {
	font-size:30px;
	font-family:'Lobster Two',serif;
}
.navbar {
	background:radial-gradient(#cc2b5e,#753a88);
}
.labels {
	padding-left:5px;
	padding-bottom:3px;
	display:none;
}
.inputs::placeholder {
	color:#696969;
	text-align:center;
	font-size:15px;
}
footer {
	background-color:#060606;
	padding:5px;
}
#wmsg {
	font-family:'Macondo',serif;
	font-size:18px;
}
#dmsg {
	font-size:16px;
	font-family:'Arvo',serif;
}
	.row {
		padding:15px;
	}
	.text-primary {
		padding:15px;
	}
	#username {
		margin-left:5px;
	} 
	#password {
		margin-left:8px;
	}
	#wel_username,#wel_name {
		font-size:20px;
	}
	#naam {
		padding-bottom:9px;
	}
	#success {
		font-size:23px;
	}
	#msg {
		padding-top:5px; 
		font-size:21px;
	}
	#err_msg {
		font-size:20px;
	}
	.error {
		color:red;
	}
	#fullname {
		margin-left:5px;
	}
	#reg_username {
		margin-left:14px;
	}
	#reg_psw {
		margin-left:18px;
	}
	#reg_cnfpsw {
		height:40px;
		margin-top:10px;
		margin-left:17px;
	}
	#usercheck {
		width:38px;
		height:38px;
	}
	#cnfpswerr {
		margin-top:14px;
		width:30px;
		height:30px;
	}
	@media only screen and (max-width:768px) {
		#sc_header {
			font-size:45px;
			margin-left:18px;
		}
		#login_card {
			margin-left:5px;
			margin-right:5px;
			margin-top:10px;
			height:100%;
		} 
		#regcnf_card {
			margin-left:5px;
			margin-right:5px;
			height:100%;
		}
		.text-primary {
			padding:4px; 
		}
		.labels {
			padding:0px;
		}
		.inputs {
			height:30px;
			margin-right:8px; 
		}
		#success {
			font-size:16px;
		}
		#naam {
			padding-bottom:5px;
		}
		#msg {
			padding-top:2px;
			font-size:14px;
		}
		#note {
			font-size:14px;
		}
		#err_msg {
			font-size:15px;
		}
		#usercheck {
			width:28px;
			height:28px;
		}
		#cnfpswerr {
			width:24px;
			height:24px;
			margin-top:13px;
		}
		#reg_cnfpsw {
			height:30px;
		}
		header {
			padding:4px;
		}
	}
	@media only screen and (min-width:768px) and (max-width:1020px) {
		#login_card {
			margin-left:15px;
			margin-right:15px;
			height:100%;
		}
		#regcnf_card {
			margin-left:15px;
			margin-right:15px;
		}
	}